button {
    background-color: rgb(108, 108, 108);
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    border: rgb(28, 27, 27) solid 1px;
  }
  
  button:hover {
    background-color: #59575790;
    border: rgb(108, 108, 108) solid 1px;
  }
  
  .equals {
    grid-column: 3 / 5;
    background-color: rgb(243, 61, 29);
  }
  
  .equals:hover {
    background-color: rgb(228, 39, 15);
  }

 