.screen {
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 20px;
    background-color: #69696990;
    border: rgb(201, 201, 201) solid 3px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: rgb(1, 255, 1);
    font-weight: bold;
    box-sizing: border-box;
    font-size: 2rem;
  }